1. Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [18]:
#importing libraries
import pandas as pd
import numpy as np
from selenium import webdriver
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [58]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(4)

url='https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)
time.sleep(6)

In [59]:
search_job=driver.find_element_by_xpath("//a[@class='external text']")
search_job

In [60]:
# creating empty lists for scraping data
Rank=[]
Name=[] 
Artist=[]
Upload_date=[]
Views=[]

In [61]:
dt = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')
for d in dt:
    if d.text is None :
        Rank.append('-')
    else:
        Rank.append(d.text)

In [62]:
Rank

['1.',
 '2.',
 '3.',
 '4.',
 '5.',
 '6.',
 '7.',
 '8.',
 '9.',
 '10.',
 '11.',
 '12.',
 '13.',
 '14.',
 '15.',
 '16.',
 '17.',
 '18.',
 '19.',
 '20.',
 '21.',
 '22.',
 '23.',
 '24.',
 '25.',
 '26.',
 '27.',
 '28.',
 '29.',
 '30.',
 '"Baby Shark Dance"[22]',
 '"Despacito"[24]',
 '"See You Again"[27]',
 '"Gangnam Style"⁂[34]',
 '"Baby"*[85]',
 '"Bad Romance"[82]',
 '"Charlie Bit My Finger"[73]',
 '"Evolution of Dance"[66]',
 '"Girlfriend"‡[128][129]',
 '"Evolution of Dance"[66]',
 '"Music Is My Hot Hot Sex"‡[132]',
 '"Evolution of Dance"*[66]',
 '"Pokemon Theme Music Video"‡[137]',
 '"Myspace – The Movie"‡[141][142]',
 '"Phony Photo Booth"‡[144]',
 '"The Chronic of Narnia Rap"‡[146]',
 '"Ronaldinho: Touch of Gold"‡*[148]',
 '"I/O Brush"‡*[151]',
 '"Me at the zoo"[57]']

In [63]:
dt = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')
for d in dt:
    if d.text is None :
        Name.append('-')
    else:
        Name.append(d.text)

In [64]:
Name

['"Baby Shark Dance"[22]',
 '"Despacito"[24]',
 '"Johny Johny Yes Papa"[25]',
 '"Shape of You"[26]',
 '"See You Again"[27]',
 '"Masha and the Bear – Recipe for Disaster"[30]',
 '"Bath Song"[31]',
 '"Learning Colors – Colorful Eggs on a Farm"[32]',
 '"Uptown Funk"[33]',
 '"Gangnam Style"[34]',
 '"Phonics Song with Two Words"[36]',
 '"Sugar"[37]',
 '"Dame Tu Cosita"[38]',
 '"Sorry"[39]',
 '"Roar"[40]',
 '"Counting Stars"[41]',
 '"Thinking Out Loud"[42]',
 '"Wheels on the Bus"[43]',
 '"Dark Horse"[44]',
 '"Faded"[45]',
 '"Shake It Off"[46]',
 '"Girls Like You"[47]',
 '"Lean On"[48]',
 '"Bailando"[49]',
 '"Let Her Go"[50]',
 '"Mi Gente"[51]',
 '"Perfect"[52]',
 '"Axel F"[53]',
 '"Waka Waka (This Time for Africa)"[54]',
 '"Hello"[55]',
 "Pinkfong! Kids' Songs & Stories",
 'Luis Fonsi',
 'Wiz Khalifa',
 'Psy',
 'Justin Bieber',
 'Lady Gaga',
 'HDCYT',
 'Judson Laipply',
 'RCA Records',
 'Judson Laipply',
 'CLARUSBARTEL72',
 'Judson Laipply',
 'Smosh',
 'eggtea',
 'mugenized',
 'youtubedude',
 'Nikesoccer',
 'larfus',
 'jawed']

In [65]:
dt = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')
for d in dt:
    if d.text is None :
        Artist.append('-')
    else:
        Artist.append(d.text)

In [66]:
Artist

["Pinkfong Kids' Songs & Stories",
 'Luis Fonsi',
 'LooLoo Kids',
 'Ed Sheeran',
 'Wiz Khalifa',
 'Get Movies',
 'Cocomelon – Nursery Rhymes',
 'Miroshka TV',
 'Mark Ronson',
 'Psy',
 'ChuChu TV',
 'Maroon 5',
 'El Chombo',
 'Justin Bieber',
 'Katy Perry',
 'OneRepublic',
 'Ed Sheeran',
 'Cocomelon – Nursery Rhymes',
 'Katy Perry',
 'Alan Walker',
 'Taylor Swift',
 'Maroon 5',
 'Major Lazer',
 'Enrique Iglesias',
 'Passenger',
 'J Balvin',
 'Ed Sheeran',
 'Crazy Frog',
 'Shakira',
 'Adele',
 '7,037,500,000',
 '2,993,700,000',
 '2,894,000,000',
 '803,700,000',
 '245,400,000',
 '178,400,000',
 '128,900,000',
 '118,900,000',
 '92,600,000',
 '78,400,000',
 '76,600,000',
 '10,600,000',
 '4,300,000',
 '2,700,000',
 '3,400,000',
 '2,300,000',
 '255,000',
 '247,000',
 '1']

In [68]:
dt = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')
for d in dt:
    if d.text is None :
        Upload_date.append('-')
    else:
        Upload_date.append(d.text)

In [69]:
Upload_date

['June 17, 2016',
 'January 12, 2017',
 'October 8, 2016',
 'January 30, 2017',
 'April 6, 2015',
 'January 31, 2012',
 'May 2, 2018',
 'February 27, 2018',
 'November 19, 2014',
 'July 15, 2012',
 'March 6, 2014',
 'January 14, 2015',
 'April 5, 2018',
 'October 22, 2015',
 'September 5, 2013',
 'May 31, 2013',
 'October 7, 2014',
 'May 24, 2018',
 'February 20, 2014',
 'December 3, 2015',
 'August 18, 2014',
 'May 31, 2018',
 'March 22, 2015',
 'April 11, 2014',
 'July 25, 2012',
 'June 29, 2017',
 'November 9, 2017',
 'June 16, 2009',
 'June 4, 2010',
 'October 22, 2015',
 'November 2, 2020',
 'August 4, 2017',
 'July 10, 2017',
 'November 24, 2012',
 'July 16, 2010',
 'April 14, 2010',
 'October 25, 2009',
 'May 2, 2009',
 'July 17, 2008',
 'March 15, 2008',
 'March 1, 2008',
 'May 19, 2006',
 'March 12, 2006',
 'February 18, 2006',
 'January 21, 2006',
 'January 9, 2006',
 'October 31, 2005',
 'October 29, 2005',
 'April 23, 2005']

In [70]:
dt = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')
for d in dt:
    if d.text is None :
        Views.append('-')
    else:
        Views.append(d.text)

In [71]:
Views

['9.02',
 '7.46',
 '5.58',
 '5.40',
 '5.19',
 '4.45',
 '4.37',
 '4.31',
 '4.24',
 '4.13',
 '4.02',
 '3.51',
 '3.48',
 '3.45',
 '3.39',
 '3.35',
 '3.29',
 '3.18',
 '3.11',
 '3.10',
 '3.08',
 '3.08',
 '3.07',
 '3.07',
 '3.03',
 '2.95',
 '2.90',
 '2.90',
 '2.89',
 '2.86',
 'June 17, 2016',
 'January 12, 2017',
 'April 6, 2015',
 'July 15, 2012',
 'February 19, 2010',
 'November 24, 2009',
 'May 22, 2007',
 'April 6, 2006',
 'February 27, 2007',
 'April 6, 2006',
 'April 9, 2007',
 'April 6, 2006',
 'November 28, 2005',
 'January 31, 2006',
 'December 1, 2005',
 'December 18, 2005',
 'October 21, 2005',
 'October 5, 2005',
 'April 23, 2005']

In [72]:
import pandas as pd
table=pd.DataFrame({})

table['Rank']=Rank[:30]
table['Name']=Name[:30]
table['Artist']=Artist[:30]
table['Upload Date']=Upload_date[:30]
table['Views']=Views[:30]

table

,Rank,Name,Artist,Upload Date,Views
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,"June 17, 2016",9.02
1,2.,"""Despacito""[24]",Luis Fonsi,"January 12, 2017",7.46
2,3.,"""Johny Johny Yes Papa""[25]",LooLoo Kids,"October 8, 2016",5.58
3,4.,"""Shape of You""[26]",Ed Sheeran,"January 30, 2017",5.40
4,5.,"""See You Again""[27]",Wiz Khalifa,"April 6, 2015",5.19
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,"January 31, 2012",4.45
6,7.,"""Bath Song""[31]",Cocomelon – Nursery Rhymes,"May 2, 2018",4.37
7,8.,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,"February 27, 2018",4.31
8,9.,"""Uptown Funk""[33]",Mark Ronson,"November 19, 2014",4.24
9,10.,"""Gangnam Style""[34]",Psy,"July 15, 2012",4.13
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,"March 6, 2014",4.02
11,12.,"""Sugar""[37]",Maroon 5,"January 14, 2015",3.51
12,13.,"""Dame Tu Cosita""[38]",El Chombo,"April 5, 2018",3.48
13,14.,"""Sorry""[39]",Justin Bieber,"October 22, 2015",3.45
14,15.,"""Roar""[40]",Katy Perry,"September 5, 2013",3.39
15,16.,"""Counting Stars""[41]",OneRepublic,"May 31, 2013",3.35
16,17.,"""Thinking Out Loud""[42]",Ed Sheeran,"October 7, 2014",3.29
17,18.,"""Wheels on the Bus""[43]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.18
18,19.,"""Dark Horse""[44]",Katy Perry,"February 20, 2014",3.11
19,20.,"""Faded""[45]",Alan Walker,"December 3, 2015",3.10
20,21.,"""Shake It Off""[46]",Taylor Swift,"August 18, 2014",3.08
21,22.,"""Girls Like You""[47]",Maroon 5,"May 31, 2018",3.08
22,23.,"""Lean On""[48]",Major Lazer,"March 22, 2015",3.07
23,24.,"""Bailando""[49]",Enrique Iglesias,"April 11, 2014",3.07
24,25.,"""Let Her Go""[50]",Passenger,"July 25, 2012",3.03
25,26.,"""Mi Gente""[51]",J Balvin,"June 29, 2017",2.95
26,27.,"""Perfect""[52]",Ed Sheeran,"November 9, 2017",2.90
27,28.,"""Axel F""[53]",Crazy Frog,"June 16, 2009",2.90
28,29.,"""Waka Waka (This Time for Africa)""[54]",Shakira,"June 4, 2010",2.89
29,30.,"""Hello""[55]",Adele,"October 22, 2015",2.86

Q2.Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [269]:
#Importing requests
import requests

# importing regex
import re

from bs4 import BeautifulSoup

In [441]:
def match_fixture(url): # defining function
    #initalizing driver & loading url
    driver = webdriver.Chrome("chromedriver.exe")
    driver.get(url)
    # Getting internation match fixtures page
    driver.get(driver.find_element_by_xpath("//a[@class='navigation__link navigation__link--in-drop-down']").get_attribute('href'))
    # Preparing soup & scraping data
    soup = BeautifulSoup(driver.page_source, 'lxml')
    match_title = [x.text for x in soup.find_all('span',class_ ='u-unskewed-text fixture__format')]
    series = [x.text for x in soup.find_all('span',class_ ='u-unskewed-text fixture__tournament-label u-truncated')]
    place = [x.text for x in soup.find_all('p',class_ ='fixture__additional-info')]
    date = [x.text for x in soup.find_all('span',class_ ='fixture__datetime tablet-only')]
    driver.close()
    # Preparing dataframe & cleaning data
    df= pd.DataFrame({})
    df['match_title']=match_title
    df['series']=series
    df['place1']=place
    df['date1']=date
    dfp = df.place1.str.split('\n',n = 4, expand = True)
    dfp.columns = ['d1','d2','place','df4']
    dfp.drop(['d1','d2','df4'],axis =1,inplace =True)
    dfd= df.date1.str.split('\n',n = 4, expand = True)
    dfd.columns = ['d1','date','time','d3','d4']
    dfd.drop(['d1','d3','d4'],axis =1,inplace =True)
    df = pd.concat([df,dfp,dfd],axis =1)
    df.drop(['place1','date1'], axis =1, inplace = True)
    return(df)


match_fixture('https://www.bcci.tv/') # Calling function

,match_title,series,place,date,time
0,T20I,Sri Lanka v India 2021,"R Premadasa Stadium, Colombo",Tuesday 27 July,20:00 IST
1,T20I,Sri Lanka v India 2021,"R Premadasa Stadium, Colombo",Thursday 29 July,20:00 IST
2,Test,England v India 2021,"Trent Bridge, Nottingham",Wednesday 4 August,15:30 IST
3,Test,England v India 2021,"Lord's, London",Thursday 12 August,15:30 IST
4,Test,England v India 2021,"Headingley, Leeds",Wednesday 25 August,15:30 IST
5,Test,England v India 2021,"The Oval, London",Thursday 2 September,15:30 IST
6,Test,England v India 2021,"Old Trafford, Manchester",Friday 10 September,15:30 IST

3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [446]:
import selenium
from selenium import webdriver 
import lxml
from bs4 import BeautifulSoup
import html5lib
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import TimeoutException

In [447]:
def exceptions(url):
    driver = webdriver.Chrome("chromedriver.exe")
    driver.get(url)
    driver.find_element_by_xpath("//a[@title='Selenium']").click()
    delay = 10
    WebDriverWait(driver,delay).until(expected_conditions.presence_of_element_located((By.XPATH,"//a[@title='Selenium Exception Handling (Common Exceptions List)']")))
    driver.get(driver.find_element_by_xpath("//a[@title='Selenium Exception Handling (Common Exceptions List)']").get_attribute('href'))
    soup = BeautifulSoup(driver.page_source,'lxml')
    tables = soup.find_all('table')
    driver.close()
    dfs = (pd.read_html(str(tables)))
    df = pd.DataFrame(dfs[4])
    return(df.rename(columns=df.iloc[0]).drop(df.index[0]))


exceptions('https://www.guru99.com/')

,Exception name,Description
1,ElementNotVisibleException,This type of Selenium exception occurs when an...
2,ElementNotSelectableException,This Selenium exception occurs when an element...
3,NoSuchElementException,This Exception occurs if an element could not ...
4,NoSuchFrameException,This Exception occurs if the frame target to b...
5,NoAlertPresentException,This Exception occurs when you switch to no pr...
6,NoSuchWindowException,This Exception occurs if the window target to ...
7,StaleElementReferenceException,This Selenium exception occurs happens when th...
8,SessionNotFoundException,The WebDriver is acting after you quit the bro...
9,TimeoutException,Thrown when there is not enough time for a com...
10,WebDriverException,This Exception takes place when the WebDriver ...
11,ConnectionClosedException,This type of Exception takes place when there ...
12,ElementClickInterceptedException,The command may not be completed as the elemen...
13,ElementNotInteractableException,This Selenium exception is thrown when any ele...
14,ErrorInResponseException,This happens while interacting with the Firefo...
15,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
16,ImeActivationFailedException,This expectation will occur when IME engine ac...
17,ImeNotAvailableException,It takes place when IME support is unavailable.
18,InsecureCertificateException,Navigation made the user agent to hit a certif...
19,InvalidArgumentException,It occurs when an argument does not belong to ...
20,InvalidCookieDomainException,This happens when you try to add a cookie unde...
21,InvalidCoordinatesException,This type of Exception matches an interacting ...
22,InvalidElementStateExceptio,It occurs when command can't be finished when ...
23,InvalidSessionIdException,This Exception took place when the given sessi...
24,InvalidSwitchToTargetException,This occurs when the frame or window target to...
25,JavascriptException,This issue occurs while executing JavaScript g...
26,JsonException,It occurs when you afford to get the session w...
27,NoSuchAttributeException,This kind of Exception occurs when the attribu...
28,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
29,NoSuchContextException,ContextAware does mobile device testing.
30,NoSuchCookieException,This Exception occurs when no cookie matching ...
31,NotFoundException,This Exception is a subclass of WebDriverExcep...
32,RemoteDriverServerException,This Selenium exception is thrown when the ser...
33,ScreenshotException,It is not possible to capture a screen.
34,SessionNotCreatedException,It happens when a new session could not be suc...
35,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
36,UnexpectedTagNameException,Happens if a support class did not get a web e...
37,UnhandledAlertException,This expectation occurs when there is an alert...
38,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
39,UnknownMethodException,This Exception happens when the requested comm...
40,UnreachableBrowserException,This Exception occurs only when the browser is...
41,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

Q4.Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP at current price (19-20)
D) GSDP at current price (18-19)
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [1]:
import selenium
from selenium import webdriver 
import lxml
from bs4 import BeautifulSoup
import html5lib
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import TimeoutException

In [11]:
driver=webdriver.Chrome("chromedriver.exe")
url='http://statisticstimes.com/'
driver.get(url)

In [16]:
driver.get(driver.find_element_by_xpath("//div[@class='dropdown-content']/a[3]").get_attribute('href'))
driver.get(driver.find_element_by_xpath("//ul[@style='list-style-type:none;margin-left:20px;']/li[1]/a[@class='ec']").get_attribute('href'))
soup = BeautifulSoup(driver.page_source,'lxml')

In [17]:
# creating empty lists for scraping data
Rank=[]
State=[]
GSDP_19_20=[]
GSDP_18_19=[]
Share=[]
GDP=[]

In [18]:
dt=driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr/td[1]")
for d in dt:
    Rank.append(d.text)

In [19]:
dt=driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr/td[2]")
for d in dt:
    State.append(d.text)

In [21]:
dt=driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr/td[3]")
for d in dt:
    GSDP_19_20.append(d.text)

In [22]:
dt=driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr/td[4]")
for d in dt:
    GSDP_18_19.append(d.text)

In [23]:
dt=driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr/td[5]")
for d in dt:
    Share.append(d.text)

In [24]:
dr=driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr/td[6]")
for d in dt:
    GDP.append(d.text)

In [25]:
import pandas as pd
table=pd.DataFrame({})

table['Rank']=Rank
table['State']=State
table['GSDP_19_20']=GSDP_19_20
table['GSDP_18_19']=GSDP_18_19
table['Share']=Share
table['GDP']=GDP


table

   Rank                      State GSDP_19_20 GSDP_18_19   Share     GDP
0     1                Maharashtra          -  2,632,792  13.94%  13.94%
1     2                 Tamil Nadu  1,845,853  1,630,208   8.63%   8.63%
2     3              Uttar Pradesh  1,687,818  1,584,764   8.39%   8.39%
3     4                    Gujarat          -  1,502,899   7.96%   7.96%
4     5                  Karnataka  1,631,977  1,493,127   7.91%   7.91%
5     6                West Bengal  1,253,832  1,089,898   5.77%   5.77%
6     7                  Rajasthan  1,020,989    942,586   4.99%   4.99%
7     8             Andhra Pradesh    972,782    862,957   4.57%   4.57%
8     9                  Telangana    969,604    861,031   4.56%   4.56%
9    10             Madhya Pradesh    906,672    809,592   4.29%   4.29%
10   11                     Kerala          -    781,653   4.14%   4.14%
11   12                      Delhi    856,112    774,870   4.10%   4.10%
12   13                    Haryana    831,610    734,163   3.89%   3.89%
13   14                      Bihar    611,804    530,363   2.81%   2.81%
14   15                     Punjab    574,760    526,376   2.79%   2.79%
15   16                     Odisha    521,275    487,805   2.58%   2.58%
16   17                      Assam          -    315,881   1.67%   1.67%
17   18               Chhattisgarh    329,180    304,063   1.61%   1.61%
18   19                  Jharkhand    328,598    297,204   1.57%   1.57%
19   20                Uttarakhand          -    245,895   1.30%   1.30%
20   21            Jammu & Kashmir          -    155,956   0.83%   0.83%
21   22           Himachal Pradesh    165,472    153,845   0.81%   0.81%
22   23                        Goa     80,449     73,170   0.39%   0.39%
23   24                    Tripura     55,984     49,845   0.26%   0.26%
24   25                 Chandigarh          -     42,114   0.22%   0.22%
25   26                 Puducherry     38,253     34,433   0.18%   0.18%
26   27                  Meghalaya     36,572     33,481   0.18%   0.18%
27   28                     Sikkim     32,496     28,723   0.15%   0.15%
28   29                    Manipur     31,790     27,870   0.15%   0.15%
29   30                   Nagaland          -     27,283   0.14%   0.14%
30   31          Arunachal Pradesh          -     24,603   0.13%   0.13%
31   32                    Mizoram     26,503     22,287   0.12%   0.12%
32   33  Andaman & Nicobar Islands          -          -       -       -

Q5.Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [34]:
driver=webdriver.Chrome("chromedriver.exe")
url='https://github.com/'
driver.get(url)

In [35]:
driver.find_element_by_xpath("//li[4][@class='d-block d-lg-flex flex-lg-nowrap flex-lg-items-center border-bottom border-lg-bottom-0 mr-0 mr-lg-3 edge-item-fix position-relative flex-wrap flex-justify-between d-flex flex-items-center ']/details/summary").click()
menu=driver.find_elements_by_xpath("//a[@class='py-2 lh-condensed-ultra d-block Link--secondary no-underline f5 Bump-link--hover']")
links=[]
for i in menu:
    links.append(i.get_attribute('href'))


driver.get(links[10])
soup = BeautifulSoup(driver.page_source,'lxml')
details = driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")
links_ele=[]
for i in details:
    links_ele.append(i.get_attribute('href'))

In [36]:
## creating empty lists for scraping data
Respository_title=[]
Respository_description=[]
Contributors_count=[]
Language_used=[]

In [38]:
dt=driver.find_elements_by_xpath("//span[@class='text-normal']")
for d in dt:
    if d.text is None:
        Respository_title.append("--")
    else:
        Respository_title.append(d.text)

In [40]:
dt=driver.find_elements_by_xpath("//p[@class='col-9 color-text-secondary my-1 pr-4']")
for d in dt:
    if d.text is None:
        Respository_description.append("--")
    else:
        Respository_description.append(d.text)

In [41]:
dt=driver.find_elements_by_xpath("//a[@class='Link--muted d-inline-block mr-3']")
for d in dt:
    if d.text is None:
        Contributors_count.append("--")
    else:
        Contributors_count.append(d.text)

In [42]:
dt=driver.find_elements_by_xpath("//span[@itemprop='programmingLanguage']")
for d in dt:
    if d.text is None:
        Language_used.append("--")
    else:
        Language_used.append(d.text)

In [46]:
import pandas as pd
table=pd.DataFrame({})

table['Respository_title']=Respository_title[:20]
table['Respository_description']=Respository_description[:20]
table['Contributors_count']=Contributors_count[:20]
table['Language_used']=Language_used[:20]

table

,Respository_title,Respository_description,Contributors_count,Language_used
0,mvt-project /,MVT is a forensic tool to look for signs of in...,"4,670",Python
1,Megvii-BaseDetection /,"YOLOX is a high-performance anchor-free YOLO, ...",337,Python
2,AmnestyTech /,Indicators from Amnesty International's invest...,"2,524",Python
3,flutter /,Flutter makes it easy and fast to build beauti...,346,Dart
4,doocs /,😱 从源码层面，剖析挖掘互联网行业主流技术的底层实现原理，为广大开发者 “提升技术深度” 提...,985,Java
5,public-apis /,A collective list of free APIs,98,Python
6,jwasham /,A complete computer science study plan to beco...,"125,875",Go
7,microsoft /,Linux OS for Azure 1P services and edge applia...,"18,051",Vue
8,nocodb /,🔥 🔥 The Open Source Airtable alternative - Pow...,"4,671",Go
9,tinode /,Instant messaging platform. Backend in Go. Cli...,899,CSS
10,blueedgetechno /,windows 11 in react 💻🌈⚡,"144,156",Vue
11,CryptoBlades /,A new bootable USB solution.,"16,725",C
12,ventoy /,Selfhost your Forem Community on your own infr...,"187,326",C
13,topotam /,📚 Playground and cheatsheet for learning Pytho...,"50,509",Jinja
14,forem /,A central place for apes to learn about stonks...,"2,378",Python
15,LaravelDaily /,"autojs脚本程序,用于完成安卓设备上的重复性操作.包含脚本: 1.2021年京东618任...",180,JavaScript
16,trekhleb /,"Download sheet music (MSCZ, PDF, MusicXML, MID...","15,253",TypeScript
17,verymeticulous /,The Julia Programming Language,817,Julia
18,loong132 /,An open source recommender system service writ...,"7,141",Go
19,Xmader /,A beacon generator using Cobalt Strike and PEzor.,"1,013",C++

Q6.Scrape the details of top 100 songs on billboard.com.
Url = https://www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [47]:
driver=webdriver.Chrome("chromedriver.exe")
url='https://www.billboard.com/'
driver.get(url)

In [52]:
delay = 10
WebDriverWait(driver,delay).until(expected_conditions.presence_of_element_located((By.XPATH,"//div[@class='sticky header__sticky']/div[2]/header/div/ul/li[1]/a")))
driver.find_element_by_xpath("//div[@class='sticky header__sticky']/div[2]/header/div/ul/li[1]/a").click()
driver.get(driver.find_element_by_xpath("//a[@class='charts-landing__link charts-landing__video--background']").get_attribute('href'))

In [53]:
# creating empty lists for scraping data
Song_name=[]
Artist_name=[]
Last_week_rank=[]
Peak_rank=[]
Weeks_onboard=[]

In [54]:
dt=driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
for d in dt:
    if d.text is None:
        Song_name.append("--")
    else:
        Song_name.append(d.text)

In [55]:
dt=driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")
for d in dt:
    if d.text is None:
        Artist_name.append("--")
    else:
        Artist_name.append(d.text)

In [56]:
dt=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
for d in dt:
    if d.text is None:
        Last_week_rank.append("--")
    else:
        Last_week_rank.append(d.text)

In [57]:
dt=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
for d in dt:
    if d.text is None:
        Peak_rank.append("--")
    else:
        Peak_rank.append(d.text)

In [58]:
dt=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
for d in dt:
    if d.text is None:
        Weeks_onboard.append("--")
    else:
        Weeks_onboard.append(d.text)

In [59]:
import pandas as pd
table=pd.DataFrame({})

table['Song_name']=Song_name
table['Artist_name']=Artist_name
table['Last_week_rank']=Last_week_rank
table['Peak_rank']=Peak_rank
table['Weeks_onboard']=Weeks_onboard


table

,Song_name,Artist_name,Last_week_rank,Peak_rank,Weeks_onboard
0,Butter,BTS,7,1,9
1,Good 4 U,Olivia Rodrigo,2,1,10
2,Levitating,Dua Lipa Featuring DaBaby,4,2,42
3,Stay,The Kid LAROI & Justin Bieber,3,3,2
4,Kiss Me More,Doja Cat Featuring SZA,5,3,15
...,...,...,...,...,...
95,Build A Bitch,Bella Poarch,84,56,10
96,30,Pop Smoke Featuring Bizzy Banks,-,97,1
97,You Should Probably Leave,Chris Stapleton,91,90,3
98,"Jealousy, Jealousy",Olivia Rodrigo,87,24,9
99,Cold Beer Calling My Name,Jameson Rodgers Featuring Luke Combs,95,95,3

Q7.Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [1]:
import selenium
from selenium import webdriver 
import lxml
from bs4 import BeautifulSoup
import html5lib
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import TimeoutException

In [8]:
driver=webdriver.Chrome("chromedriver.exe")
url='https://www.naukri.com/'
driver.get(url)

In [9]:
delay = 10
WebDriverWait(driver,delay).until(expected_conditions.presence_of_element_located((By.XPATH,"//a[@title='Search Recruiters']")))
driver.get(driver.find_element_by_xpath("//a[@title='Search Recruiters']").get_attribute('href'))
driver.find_element_by_xpath("//input[@class='sugInp']").send_keys('Data Scientist')
driver.find_element_by_id("qsbFormBtn").click()

In [10]:
#Creating empty list for scraping data
Name=[]
Designation=[]
Company=[]
Skill_hire=[]
Location=[]

In [26]:
dt=driver.find_elements_by_xpath("//a[@class='ellipsis']")
for d in dt:
    Name.append(d.text)

In [27]:
dt=driver.find_elements_by_xpath('//span[@class="ellipsis clr"]')
for d in dt:
    Designation.append(d.text)

In [28]:
dt=driver.find_elements_by_xpath('//p[@class="highlightable"]/a[2]')
for d in dt:
    Company.append(d.text)

In [29]:
dt=driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]')
for d in dt:
    Skill_hire.append(d.text)

In [30]:
dt=driver.find_elements_by_xpath('//small[@class="ellipsis"]')
for d in dt:
    Location.append(d.text)

In [32]:
import pandas as pd
table=pd.DataFrame({})

table['Name']=Name[:49]
table['Designation']=Designation[:49]
table['Company']=Company[:49]
table['Skill_hire']=Skill_hire[:49]
table['Location']=Location[:49]

table

,Name,Designation,Company,Skill_hire,Location
0,Tanushree,Lead Recruiter,Tanushree,"UI Developers, Software Engineers, Quality Ass...",Noida
1,sashi bhushan,Lead Recruiter,RecRoots,"pig, hbase, sas, spss, apache, python, nosql, ...",Bengaluru / Bangalore
2,Bitapi,Senior Specialist,sashi bhushan,"Hadoop, Big Data, Data Scientists, Java, Sprin...",Bengaluru / Bangalore
3,Gajendra Singh,HR and Operation Manager,Wipro,"Data Scientist, Big Data, Hadoop, Web Analytic...",Noida
4,Sadashiv Kulkarni,Head of Recruitment - Product &amp;...,Bitapi,"Big Data Engineer, Data Scientist, Solutions, ...",Pune
5,Invelopment,Company HR,Anvaya,Scandinavian Startups,Ahmedabad
6,Anjali Srivastava,Company HR,Gajendra Singh,"Technical, Business Development Executive, Sof...",Noida
7,Anoop Somarajan,Director HR,A Leading of Product Start-UP Company,"Asp.net, Hl7, Mirth, Perl, Xamarin, Javascript...",Chennai
8,Helly Vyas,Assistant Manager Talent Acquisition,Sadashiv Kulkarni,"Big Data technology, PLSQL, Web Developer, Jav...",Pune
9,Ashish Verma,HR Business Partner,Digitially Insights Pvt Ltd,"SAS, VBA, Business Information Services(BIS), ...",Gurgaon
10,Bhuwneshari Devi,Senior Associate Human Resources,Invelopment,"Amazon, Olacabs, Quikr, Bankbazzar, Uber, Flip...",Delhi
11,HS Sandesh,Lead Talent Acquisition,Invelopment,"Digital Marketing, General Manager, Business D...",Bengaluru / Bangalore
12,Datafoundry,Talent Evangelist www staffiohr co,Anjali Srivastava,"Webmethods Developer, Mean Stack, Business Ana...",Bengaluru / Bangalore
13,A Valsa Florina,Company HR,CodeFire Technologies Pvt. Ltd.,"Business Analyst, Front end developer, legal, ...",Bengaluru / Bangalore
14,Kalaivani M V,Recruitment Specialist,Anoop Somarajan,"Data Scientist, Cloud Computing, Mobile Applic...",Chennai
15,Prashant K,HR Manager,Access Healthcare,"Data Analyst, Statistical Analysis, Data Scien...",Bengaluru / Bangalore
16,Radhika,Sr HR,Helly Vyas,"business analyst - IT (python), pay per click,...",Coimbatore
17,Rakhi,HR Associate,AM - TA &amp; HR,"Data Scientist, Data Research Analyst, Big Dat...",Singapore - (singapore)
18,Balaji Prabhakaran,HR recruiter,Ashish Verma,"Technical Solution Architect, Data Scientist, ...",Chennai
19,Monika Jain,Company Recruiter,Evalueserve.com Private Limited,"Lamp Developer, Ui/ux Developer, Qa Engineer, ...",Noida
20,Trilok Nath,Talent Aquistion Lead,Bhuwneshari Devi,".Net Developers With Angular Js, Html, Front E...",Hyderabad / Secunderabad
21,Sridharan,Senior IT Recruiter,Success Pact Consulting,"Data Scientist, Developer, Ui, Accounting",Chennai
22,Rashmi Kathuria,Company Recruiter Vice President,HS Sandesh,"Leading MNCs, Product based organizations",Noida
23,Vidya Rani Hadimani,Talent Acquisition Specialist (Specialized...,Staffio HR,Amazon Walmart Adobe OLA Myntracom Komli Media...,Bengaluru / Bangalore
24,Monika Singh Thakur,Business Manager Delivery,Datafoundry,"Big Data Analytics, Marketing Analytics, Full ...",Indore
25,Shikha Bakshi,Technical Recruiter,JAITRA SOFTWARE SOLUTIONS PVT LTD,"Analytics, Big Data, Hadoop, Python",Gurgaon
26,Abhishek - Only Analytics Hiring - India and,Senior Manager Recruitment,A Valsa Florina,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
27,Jayanth N,Recruitment Lead Consultant,Redbus.in,"Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
28,Ishu Kumar,Project Manager,Kalaivani M V,"Python, Machine Learning, Sql, Data Science",Bengaluru / Bangalore
29,Ravi,Co Founder &amp; Ceo,ZYUDLY LABS DATA SOLUTIONS PRIVATE LIMITED,"Deep Learning, Machine Learning, unstructured ...",Ghaziabad
30,Vivek Shrivastava,Team HR,Prashant K,"Business Analyst, analytics, Decesion Scientis...",Noida
31,Gayathri E,Assistant Manager Human Resources,Confidential,"IT Infrastructure Management, PHP, Wordpress, ...",Chennai
32,Best In Town Analytics,Sr Recruitment,Radhika,Data Analytics,Bengaluru / Bangalore
33,Santhosh Nagaiah,Analytics Associate,Bright Bridge Info-tech Pvt Ltd,"Data Science, Project Management, Backend",Mumbai
34,priyanka,Chief marketing officer,Rakhi,"Sap, Saas, Sql, Hadoop, Production Planning, B...",Bengaluru / Bangalore
35,Renny Benita K,General Manager,Constalytics,"Core Java, J2ee, Big Data, Machine Learning, D...",Hyderabad / Secunderabad
36,Roshan Menugu,Operations Manager,Balaji Prabhakaran,Not Specified,Bengaluru / Bangalore
37,HR Team,Company Recruiter,Oportun,Not Specified,Delhi
38,Jamil Akhtar,Company HR,Monika Jain,Not Specified,Bengaluru / Bangalore
39,rajesh,Company Recruiter,Info Edge India Limited,"Data Scientist, Tableau, R Tool, Data Analytic...",Hyderabad / Secunderabad
40,navya neluri,HR Executive,Trilok Nath,Not Specified,Pune
41,Ram Kumar,Data Scientist,Molveno Consulting Private Limited,Not Specified,Bengaluru / Bangalore
42,Vanitha Senkurichi,Data Scientist,Sridharan,"sql, Ui Development, ssis, Data Modeling, Data...",Hyderabad / Secunderabad
43,Sravan Kumar Ranga,Company HR,Aaum Research and Analytics Private Limited,"devops, build and release, Delivery Manager, O...",Mumbai
44,Arya,Assistant Manager,Rashmi Kathuria,"Artificial Intelligence, Deep Learning, Machin...",Hyderabad / Secunderabad
45,Blueberry Digital Labs,Human Resources Manager,Mount Talent consulting,"Node.js, Html, Css, Nosql, Web Designing, Web ...",Bengaluru / Bangalore
46,Shiva Kumar N,HR,Vidya Rani Hadimani,"salaesforce, Web Technologies, .net, .net full...",Noida
47,Ms Uma,Founder,Talent Management Labs Inc.,"java, J2ee, activemq, rest, cassandra, redis, ...",Chennai
48,Manoj Kumar Ganesh,Company HR,Monika Singh Thakur,"Java, J2EE, Oracle E-business Suite, MS CRM, P...",Hyderabad / Secunderabad

8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [34]:
import selenium
from selenium import webdriver 
import lxml
from bs4 import BeautifulSoup
import html5lib
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import TimeoutException

In [36]:
def books(url):
    driver=webdriver.Chrome("chromedriver.exe")
    driver.get(url)
    soup = BeautifulSoup(driver.page_source,'lxml')
    tables = soup.find_all('table')
    dfs=pd.read_html(str(tables))
    driver.close()
    df = pd.DataFrame(dfs[0])
    return(df)


books('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

,Rank,Title,Author,Volume Sales,Publisher,Genre
0,1,"Da Vinci Code,The","Brown, Dan",5094805,Transworld,"Crime, Thriller & Adventure"
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.",4475152,Bloomsbury,Children's Fiction
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.",4200654,Bloomsbury,Children's Fiction
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.",4179479,Bloomsbury,Children's Fiction
4,5,Fifty Shades of Grey,"James, E. L.",3758936,Random House,Romance & Sagas
...,...,...,...,...,...,...
96,97,Happy Days with the Naked Chef,"Oliver, Jamie",794201,Penguin,Food & Drink: General
97,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne",792187,Scholastic Ltd.,Young Adult Fiction
98,99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave",791507,Orion,Biography: General
99,100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie",791095,Penguin,Food & Drink: General
100,SOURCE: NIELSEN BOOK SCAN,SOURCE: NIELSEN BOOK SCAN,SOURCE: NIELSEN BOOK SCAN,SOURCE: NIELSEN BOOK SCAN,SOURCE: NIELSEN BOOK SCAN,SOURCE: NIELSEN BOOK SCAN

9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [40]:
def series(url):
    driver=webdriver.Chrome("chromedriver.exe")
    driver.get(url)
    name = [x.text for x in driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")]
    year_span= [x.text for x in driver.find_elements_by_xpath("//h3[@class='lister-item-header']/span[2]")]
    genre = [x.text for x in driver.find_elements_by_xpath("//span[@class='genre']")]
    run_time = [x.text for x in driver.find_elements_by_xpath("//span[@class='runtime']")]
    ratings = [x.text for x in driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]")]
    votes = [x.text for x in driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[@name='nv']")]
    driver.close()
    df = pd.DataFrame({})
    df['name'] =name 
    df['year_span']=year_span 
    df['genre'] =genre 
    df['run_time'] = run_time
    df['ratings'] =ratings 
    df['votes'] =votes
    return(df)



series('https://www.imdb.com/list/ls095964455/')

,name,year_span,genre,run_time,ratings,votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,844,016"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"882,279"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"883,663"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"265,336"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"226,512"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"44,929"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"55,617"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8,"171,166"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"35,408"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"194,495"

10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the Show All Dataset page through code.

In [44]:
def uci(url):
    driver=webdriver.Chrome("chromedriver.exe")
    driver.get(url)
    time.sleep(3)
    link=[x.get_attribute('href') for x in driver.find_elements_by_xpath("//td/span[@class='whitetext']/a")]
    driver.get(link[4])
    time.sleep(3)
    name = [x.text for x in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td")]
    df = pd.DataFrame({})
    df["Dataset_name"]=name[0::7]
    df['Data_type']=name[1::7]
    df['Task']=name[2::7]
    df['Attribute_type']=name[3::7]
    df['No_of_instances']=name[4::7]
    df['No of attribute']=name[5::7]
    df['Year']=name[6::7]
    df.drop(labels=0,axis =0, inplace =True)
    driver.close()
    return(df)

uci('https://archive.ics.uci.edu/')

,Dataset_name,Data_type,Task,Attribute_type,No_of_instances,No of attribute,Year
1,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
2,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
3,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
4,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
5,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
584,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
585,Gait Classification,Multivariate,Classification,Real,48,321,2020
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
588,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021